<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/new.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>PoseLively.AI</title>
  </head>
  <body>
    <div id="whole-page">
    <div class="container-fluid">
      <div class="row justify-content-md-center header" id="welcome-block">PoseLively.AI</div>
      <div class="container" style="margin-top: 20px;">
        <div class="row" id="quick-actions">
          <div class="col-sm-3">
              <button type="button" class="btn btn-outline-primary btn-block">Find a Classroom</button>
          </div>
          <div class="col-sm-3">
              <button type="button" class="btn btn-outline-success btn-block">Ask for Help!</button>
          </div>
        </div>
      </div>
      <div class="container mt-7">
        <div class="row">
          <div class="col">
            <div class="card info-card">
              <img class="img-card" src="../static/plank.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Plank</h5>
                <p class="card-text">
                  The plank is an isometric core strength exercise that involves maintaining a position similar to a push-up for the maximum possible time.
              </div>
              <a href="/record_plank" class="btn btn-primary">Learn Plank now!</a>
            </div>
          </div>
          <div class="col">
            <div class="card info-card">
              <img class="img-card" src="../static/goddess_pose.jpeg" alt="...">
              <div class="card-body">
                <h5 class="card-title">Goddess Pose</h5>
                <p class="card-text">
                  It opens the hips and chest, stretches the thighs, and elongates the spine. Goddess Pose helps to warm and energize the whole body
                </p>
              </div>
              <a href="/record_goddess" class="btn btn-primary">Learn Goddess Pose now!</a>
            </div>
          </div>
          <div class="col">
            <div class="card info-card">
              <img class="img-card" src="../static/downdog_pose.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Downward Dog Pose</h5>
                <p class="card-text">One of yoga's most widely recognized poses, Downward Dog Pose, works to strengthen the core and improve circulation.
              </div>
              <a href="/record_downdog" class="btn btn-primary">Learn Downward Dog Pose now!</a>
            </div>
          </div>
          <div class="col">
            <div class="card info-card">
              <img class="img-card" src="../static/tree_pose.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Tree Pose</h5>
                <p class="card-text">Tree Pose strengthens the legs and core while opening the hips and stretching the inner thigh and groin muscles.</p>
              </div>
              <a href="/record_tree" class="btn btn-primary">Learn Tree Pose now!</a>
            </div>
          </div>
          <div class="col">
            <div class="card info-card">
              <img class="img-card" src="../static/warrior_2_pose.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Warrior 2 Pose</h5>
                <p class="card-text">Warrior 2 Pose is a standing strength pose meant to energize the body and mind, increasing concentration and stamina.</p>
              </div>
              <a href="/record_warrior2" class="btn btn-primary">Learn Warrior 2 Pose now!</a>
            </div>
          </div>
          <div class="col">
            <div class="card info-card">
              <img class="img-card" src="../static/pushup.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Push-ups</h5>
                <p class="card-text">Push-ups work the triceps, pectoral muscles, and shoulders. They can also strengthen the lower back and core by engaging (pulling in) the abdominal muscles</p>
              </div>
              <a href="/record_pushup" class="btn btn-primary">Learn Push-ups now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
